<div class="container" >
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/"> <i class="fa fa-home"></i>&nbsp;Home</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">View Appointment</li>
                </ol>
            </div>
        </div>
        <div class="card-header">
            <h4>View Appointments 
                <a routerLink="/bookappointment" style="float:right;" class="btn btn-primary mb-3">Book Appointment</a>
            </h4>
    </div>
    <div *ngIf="reswait" class="alert alert-warning">{{reswait}}

    </div>
    <div class="card-body">
        <div class="table-responsive-sm">    
      <table class="table table-striped  table-hover table-full-width ">
        <thead>
            <tr>
                <th>Sr No.</th> 
                <th>Visitor Name</th>
                <th>Appointment Status</th>
                <th>Purpose</th>
                <th>Visitor Email</th>
                <th>Appoint Date </th>
                <th>Appoint Time</th>
                <th>Employee</th>
                <th>Designation</th>
                <th>Department</th>
                <th>Company</th>
                <ng-container *ngIf="isloggedinuser">
                    <th>Action</th> 
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appoint of aplist;let i = index ">
                <td>{{i+1}}</td>
                <td>{{appoint.vis_name}}</td>
                <td style="text-transform: capitalize;">{{appoint.status}}</td>
                <td>{{appoint.vis_purpose}}</td>
                <td>{{appoint.vis_email}}</td>
                <td>{{appoint.apdate}}</td>
                <td>{{appoint.aptime}}</td>
                <td>{{appoint.employee.emp_name}}</td>
                <td>{{appoint.employee.designation.desig_name}}</td>
                <td>{{appoint.employee.department.dept_name}}</td>
                <td>{{appoint.employee.department.company.comp_name}}</td>
                <ng-container *ngIf="isloggedinuser">
                <td>
                    <button (click)="getAppointmentById(appoint.appoint_id)" class="btn btn-primary" > <i class="fa fa-edit"></i> Edit</button> 
                </td>
                </ng-container>
            </tr> 
        </tbody>
      </table>
     </div>
    </div>
  </div>
