<div class="container" >
    <!-- start: PAGE HEADER -->
           <div class="row">
               <div class="col-sm-12">
                <!-- start: PAGE TITLE & BREADCRUMB -->
                   <ol class="breadcrumb">
                       <li class="breadcrumb-item">
                           <a routerLink="/adminhome">
                               <i class="fa fa-home "></i>&nbsp;Home
                           </a>
                       </li>
                       <li class="breadcrumb-item active" aria-current="page">
                           View Appointments
                       </li>
                   </ol>
               </div>
           </div>
         			
        <div class="card">
            <div class="card-header">
                <h4>View Appointments<a routerLink="/bookappointment" class="btn btn-primary" style="float:right;">Book Appointment</a></h4>
            </div>
            <div *ngIf="response"><h6 class="alert alert-success">{{response}}</h6></div>
            <div *ngIf="reswait"> <h6 class="alert alert-danger">{{reswait}}</h6></div>	
            <div class="card-body">
                <div class="table-responsive-sm" id="todayappoints">
        <tabset>
            <tab heading="Todays Appointments"> 
                <table class="table table-bordered table-striped table-hover table-full-width dt-responsive nowrap" style="width:100%;text-decoration:none;"  id="aptodaytable" >
                    <thead style="background-color:#3fbdeb;color:white;">
                        <tr>
                            <th>Appointment Status</th>
                            <th>Visitor's Name</th>
                            <th>Visit Purpose</th>
                            <th>Appointment Date</th>
                            <th>Time</th>
                            <th>Visitor's Company</th>
                            <th>Visitor's Email</th>
                            <th>Visitor's Contact</th>
                            <th>Personnel Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Personnel Company</th>
                            <ng-container *ngIf="isloggedinuser">
                                <th>Actions</th>
                            </ng-container>
                        </tr>	
                    </thead>
                    <tbody id="aptodaybody">
                     <tr *ngFor="let appoint of todaysappoints;let i = index ">
                         <ng-container *ngIf="appoint.status=='pending'">
                             <td style="text-transform: capitalize; color: yellow">{{appoint.status}}</td>
                         </ng-container>
                         <ng-container *ngIf="appoint.status=='confirmed'">
                             <td style="text-transform: capitalize; color: green;">{{appoint.status}}</td>
                         </ng-container>
                         <ng-container *ngIf="appoint.status=='declined'">
                             <td style="text-transform: capitalize; color: red;">{{appoint.status}}</td>
                         </ng-container>
                         <td>{{appoint.vis_name}}</td>
                         <td>{{appoint.vis_purpose}}</td>
                         <td>{{appoint.apdate | date :'dd-MM-yyyy'}}</td>
                         <td>{{appoint.aptime | date :'h:mm:s a'}}</td>
                         <td>{{appoint.vcomp_name}}</td>
                         <td>{{appoint.vis_email}}</td>
                         <td>{{appoint.vis_contact}}</td>
                         <td>{{appoint.employee.emp_name}}</td>
                         <td>{{appoint.employee.designation.desig_name}}</td>
                         <td>{{appoint.employee.department.dept_name}}</td>
                         <td>{{appoint.employee.department.company.comp_name}}</td>
                         <ng-container *ngIf="isloggedinuser">
                             <td>
                                 <button (click)="getAppointmentById(appoint.appoint_id)" class="btn btn-primary" > <i class="fa fa-edit"></i> Edit</button>  
                             </td>
                         </ng-container> 
                     </tr> 
                 </tbody>
                </table>
            </tab> 
            <tab heading="All Appointments">
                <div class="card-body">
                    <div class="table-responsive" id="data">
                       <table class="table table-bordered table-striped table-hover table-full-width dt-responsive nowrap" style="width:100%;text-decoration:none;" id="aptable" >
                        <thead style="background-color:#3fbdeb;color:white;">
                            <tr>
                                <th>Appointment Status</th>
                            <th>Visitor's Name</th>
                            <th>Visit Purpose</th>
                            <th>Appointment Date</th>
                            <th>Time</th>
                            <th>Visitor's Company</th>
                            <th>Visitor's Email</th>
                            <th>Visitor's Contact</th>
                            <th>Personnel Name</th>
                            <th>Designation</th>
                            <th>Department</th>
                            <th>Personnel Company</th>
                            <ng-container *ngIf="isloggedinuser">
                                <th>Actions</th>	
                            </ng-container>
                            </tr>	
                        </thead>
                        <tbody id="apbody">
                         <tr *ngFor="let appoint of aplist;let i = index ">
                            <ng-container *ngIf="appoint.status=='pending'">
                                <td style="text-transform: capitalize; color: rgb(245, 197, 66);">{{appoint.status}}</td>
                            </ng-container>
                            <ng-container *ngIf="appoint.status=='confirmed'">
                                <td style="text-transform: capitalize; color: green;">{{appoint.status}}</td>
                            </ng-container>
                            <ng-container *ngIf="appoint.status=='declined'">
                                <td style="text-transform: capitalize; color: red;">{{appoint.status}}</td>
                            </ng-container>
                            <td>{{appoint.vis_name}}</td>
                            <td>{{appoint.vis_purpose}}</td>
                            <td>{{appoint.apdate  | date :'dd-MM-yyyy' }}</td>
                            <td>{{appoint.aptime | date  :'h:mm:s a'}}</td>
                            <td>{{appoint.vcomp_name}}</td>
                            <td>{{appoint.vis_email}}</td> 
                            <td>{{appoint.vis_contact}}</td>
                            <td>{{appoint.employee.emp_name}}</td>
                            <td>{{appoint.employee.designation.desig_name}}</td>  
                            <td>{{appoint.employee.department.dept_name}}</td>
                            <td>{{appoint.employee.department.company.comp_name}}</td>
                            <ng-container *ngIf="isloggedinuser">
                                <td>
                                    <button (click)="getAppointmentById(appoint.appoint_id)" class="btn btn-primary" > <i class="fa fa-edit"></i> Edit</button>  
                                </td>
                            </ng-container> 
                         </tr> 
                     </tbody>
                    </table>
                </div> </div>
            </tab> 
            </tabset> 
        </div>
    </div>
   
     </div>
    </div>