<div class="container">
  <div *ngIf="response!='null'" class="alert alert-success"> {{response}}  </div>
  <div *ngIf="reserr" class="alert alert-warning"> {{reserr}}  </div>
  <form (ngSubmit)="confirmotp()" method="POST"  >
    <div class="card">
        <div class="card-header"> <h4>Confirm OTP</h4> </div>
            <div class="card-body">
                <div class="form-group">
                <label for="new_otp">Confirm OTP</label>
                    <input type="number" class="form-control" id="new_otp"  name="new_otp"  placeholder="Enter OTP Number" [(ngModel)]="new_otp" autocomplete="off" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;<button type="reset" class="btn btn-primary">Cancel</button>
            </div>
    </div>
  </form>
</div>