<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/"> <i class="fa fa-home"></i>&nbsp;Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">View Appointment</li>
        </ol>
    </div>
</div>
  <div *ngIf="response" ><h6 class="alert alert-success"> {{response}} </h6> </div>
  <div *ngIf="reserr" ><h6 class="alert alert-warning">{{reserr}} </h6> </div>
  <form (ngSubmit)="confirmotp()" method="POST"  >
    <div class="card">
        <div class="card-header"> <h4>Confirm OTP</h4> </div>
            <div class="card-body">
                <div class="form-group mb-3">
                <label for="new_otp">Confirm OTP</label>
                    <input type="number" class="form-control" id="new_otp"  name="new_otp"  placeholder="Enter OTP Number" [(ngModel)]="new_otp" autocomplete="off" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;<button type="reset" class="btn btn-primary">Cancel</button>
            </div>
    </div>
  </form>
</div>